<h2 class="title is-2">
  <%= article[:title] %>
</h2>
<% if article[:contributors].present? %>
  <h6 class="subtitle is-6">
    Written by <%= article[:contributors] %>
  </h6>
<% end %>

<p>
  <%= article[:body] %>
</p>
