<section id="articles" class="section">
  <h1 class="title">Articles</h1>

  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>

  <p>
    <%= link_to "Draft new article", new_article_path(user: @user), class: 'button is-primary is-outlined' %>
  </p>
</section>