<section class="section">
  <%= render 'article', article: @article %>

  <br>

  <% if @user.present? %>
    <div class="field is-grouped">
      <p class="control">
        <%= link_to "Redraft this article", edit_article_path(@article[:id], user: @user), class: 'button is-info' %>
      </p>
      <p class="control">
        <%= link_to "Publish this article", publish_article_path(@article[:id], user: @user), class: 'button is-warning' %>
      </p>
    </div>
  <%end %>
</section>

<% if @user.present? %>

  <section class="section">
    <h2 class="title is-2">Drafts</h2>
    <%= render partial: 'draft', collection: @drafts %>
  </section>

<% end %>
